/* Add custom styling here */
* {
    letter-spacing: 1px;
    box-sizing: border-box;
}

hr {
    color: #3A537C;
    border-top: 5px double #3A537C;
}

body {
    background-color: rgb(250, 243, 243);
}

/* all three pages */

 .pageHeaders {
    color: #3A537C;
    text-align: center;
 } 



/* navbar page */
#listLook {
    list-style-type: none;
    background-color: #3A537C;
    margin: 0;
}


/* home page */
.logo {
    text-align: center;
}

.indent {
    margin-left: 10px;
}

.homeP {
    color:  #3A537C;
    margin-left: 20px;
    margin-right: 10px;
}

.spiritAwayPhoto {
    width: 400px;
    height: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

/*vehicles page*/

.vehicleImages {
    display: flex;
    border: 3px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: flex-start;
    
}

.sosukesBoat {
    grid-column: 1;
    padding: 10px;

}

.airDestroyer {
    grid-column: 2;

}

.redWing {
    grid-column: 3;
 
}
